[Unit]
Description=Psiphon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/psiphon -config /etc/psiphon/psiphon.config
Restart=always
RestartSec=60
User=psiphon
Group=psiphon
WorkingDirectory=/etc/psiphon/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=psiphon

[Install]
WantedBy=multi-user.target
